/*https://css-tricks.com/high-performance-svgs/
https://bennettfeely.com/clippy/
https://codepen.io/noeldelgado/pen/ByxQjL cool example of clipp and mask

use svg inline


https://codepen.io/chriscoyier/pen/YyxKea
https://codepen.io/sdras/pen/gWWQgb
https://codepen.io/sdras/pen/XJKJZL


 <svg viewBox =  x y w h ></svg>
 this is the paper to draw sbg

 perservespectratio  a paramam for the viewBox 

 <g> like a div but for svg 
 <path> lines (curved)xD
 <polyline> straigth ,ine

 makde storyboard for ideas and animation

 is easier to create an svg with other svg tool in illustrator you can export as 
 inline css file and presentation atributes ipmort 2 pressicion

 svg has accessiiblity https://css-tricks.com/accessible-svgs/

 svg optimizin payh simplified https://jakearchibald.github.io/svgomg/

 https://inkscape.org/
transform-origin

elemental motion 
blurry and less contrast
reduce precicion
have the air movement or by the enverioment ex smoke

animaton
less tahn 3 css
mora than 3 GSAP greensock https://greensock.com/ease-visualizer AnimeJS open source https://greensock.com/drawSVG
react-sprin/react-motion   for realistic little movements

UX animation example https://codepen.io/sdras/pen/Kwjyzo
while wait use animations to entrainment the people
https://css-tricks.com/the-importance-of-context-shifting-in-ux-patterns/
isolation
https://codepen.io/sdras/full/amJLxN
https://pudding.cool/2017/03/hamilton/

flow charts https://www.bustle.com/flowcharts

structure animation times and eases to have animations consistent
https://codepen.io/sdras/

*/